/* Path: assets\scss\main.css */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --primary-color: ;
    --secondary-color: ;
    --background-color: hsl(0, 0%, 12%);
    --text-color: hsl(227, 15%, 76%);
    --heding-color: hsl(227, 15%, 76%);
}

/* Header Start */

header {
    width: 100%;
    color: var(--text-color);
    backdrop-filter: blur(5px);
    min-height: 5em;
    z-index: 9001;
}
footer {
    width: 100%;
    min-height: 5em;
    color: var(--text-color);
    z-index: 9000;
}
div.container {
    margin-top: 10em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 9002;
}

nav h2 {
    margin: 0;
    color: var(--heding-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 400;
    text-shadow: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-shadow: none;
    gap: 2em;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
}

.login-section {
    display: flex;
}

.login-section a {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 300;
    text-shadow: none;
}

/* Header End */

#dark-mode-toggle {
    /* position: absolute;
    bottom: 10px;
    left: 10px; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
div.theme {
    position: absolute;
    bottom: 10px;
    left: 10px;
    cursor: pointer;
}
/* Login Page Start */

body, html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: var(--background-color);

    min-height: 100vh;
    min-height: 100dvh;

    display: grid;
    grid-template-rows: auto 1fr auto;

}



main {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
    color: #BABECC;
    /*scale: 1.03;*/
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

h1 {
    color: var(--heding-color);
    text-shadow: 0px 0px 0px #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-weight: 400;
}

body, p, input, select, textarea, button {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

div, p {
    color: #BABECC;
    text-shadow: 1px 1px 1px #2e2e2e;
}

form {
    padding: 16px;
    width: 320px;
    margin: 0 auto;
}

.segment {
    padding: 0px 0px 32px 0px;
    text-align: center;
}

button, input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #202020;
    text-shadow: 1px 1px 1px #333;
}

label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

input {
    box-shadow: inset 2px 2px 5px #171717, inset -5px -5px 10px #292929;
    margin-right: 8px;
    width: 100%;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
    color: #cacedb;
}

input:focus {
    box-shadow: inset 1px 1px 2px #171717, inset -1px -1px 2px #292929;
}

button {
    color: #61677C;
    font-weight: bold;
    font-weight: 600;
    box-shadow: -5px -5px 20px #282828, 5px 5px 20px #121212;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

Button:hover {
    box-shadow: -2px -2px 5px #292929, 2px 2px 5px #121212;
}

button:active {
    box-shadow: inset 1px 1px 2px #121212, inset -1px -1px 2px #292929;
}

button .icon {
    margin-right: 8px;
}

button.red {
    margin-top: 35px;
    margin-bottom: 35px;
    display: block;
    width: 100%;
    color: #AE1100;
}

/* Login Page End */