/* Path: assets\scss\main.css */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root{
    --primary-color: #BABECC;
    --secondary-color: #EBECF0;
}

/* Login Page Start */

body, html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: var(--secondary-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
    color: var(--primary-color);
}

body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
}

div, p {
    color: var(--primary-color);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.95);
}

form {
    padding: 16px;
    width: 320px;
    margin: 0 auto;
}

.segment {
    padding: 32px;
    text-align: center;
}

button, input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: var(--secondary-color);
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.85);
}

label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

input {
    box-shadow: inset 2px 2px 5px var(--primary-color), inset -5px -5px 10px #FFF;
    margin-right: 8px;
    width: 100%;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
}

input:focus {
    box-shadow: inset 1px 1px 2px var(--primary-color), inset -1px -1px 2px #FFF;
}

button {
    color: #61677C;
    font-weight: bold;
    font-weight: 600;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px var(--primary-color);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

Button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px var(--primary-color);
}

button:active {
    box-shadow: inset 1px 1px 2px var(--primary-color), inset -1px -1px 2px #FFF;
}

button .icon {
    margin-right: 8px;
}

button.red {
    display: block;
    width: 100%;
    color: #AE1100;
}

/* Login Page End */