*, *:before, *:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

$h1-color: hwb(0 100% 0%);
$h2-color: hwb(0 93% 7%);
$h3-color: hwb(0 89% 11%);
$text-color-primary: hwb(0 87% 13%);
$text-color-secondary: hwb(0 78% 22%);
$text-shadow: hwb(0 20% 80%);
$background-color-primary: hwb(0 12% 88%);
$shadow-dark: hwb(0 8% 92%);
$shadow-light: hwb(0 16% 88%);
$button-red: hwb(6 0% 32%);
$button-background-color-primary: hwb(0 12% 88%);

$homeMaxColumnCount: 4;

body {
    background-color: $background-color-primary;
    color: $text-color-primary;
    font-family: 'Open Sans', sans-serif;

    min-height: 100vh;
    min-height: 100dvh;

    display: grid;
    grid-template-rows: auto 1fr auto;

    header {
        width: 100%;
        // border: 1px solid green; // temporary
        backdrop-filter: blur(5px);
        min-height: 5em;
        z-index: 9001;
    }
    div.header-helper {
        min-height: 6em;
    }
    nav {
        width: 100%;
        // border: 1px solid red; // temporary
        z-index: 9002;
        display: flex;
        gap: 1rem;
    }
    main {
        position: relative;
        // border: 1px solid blue; // temporary
        min-height: 20em;
        margin: 0 2rem;
    }
    footer {
        // border: 1px solid red; // temporary
        width: 100%;
        min-height: 5em;
        z-index: 9000;
    }
    nav>ul>li:hover {
        color: hwb(0 10% 90%);
    }
    .flex {
        display: flex;
        gap: clamp(0rem, 4vw, 6rem);
    }
    h1 {
        color: $h1-color;
        text-shadow: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 60px;
        font-weight: 600;
        cursor: default;
    }
    form.login-signup {
        display: grid;
        gap: 1.5rem;
    }
    div.form-group-login {
        display: grid;
        text-align: center;
    }
    // ------------------------------------------------------------------------------------------------
    // ------------------------------------ new styles ------------------------------------
    // Video https://youtu.be/HbBMp6yUXO0?t=1237
    header.primary-header {
        position: fixed;
        backdrop-filter: blur(.2rem);
        z-index: 9001;
        min-height: 6rem;
        h2.nav-header {
            position: absolute;
            margin: 1rem 2rem;
            font-size: 3rem;
        }
        div.login-section {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            right: 0;
            margin: 1rem 2rem;
            z-index: 9003;
            h3.h3-username {
                text-align: right;
            }
        }
    }
    header.primary-header>nav.flex:first-child {
        min-width: 1319px;
    }
    header.primary-header>nav {
        justify-content: center;
        align-items: center;
        .button-login-signup-logout {
            display: block;
            text-align: right;
            margin-right: 2rem;
        }
        .primary-navigation {
            list-style: none;
            padding: 0;
            margin: 0;
            max-width: 100%;
            margin: 0 10em;
        }
        .primary-navigation a {
            text-decoration: none;
        }
        .primary-navigation a > [aria-hidden="true"] {
            font-weight: 700;
            margin-inline-end: .75em;
        }
        // @media (min-width: 82.625em) {
        //    .primary-navigation a > [aria-hidden="true"] {
        //         font-weight: 700;
        //         margin-inline-end: .75em;
        //     }
        // }
        // @media (max-width: 82.625em) {
        //     .primary-navigation a > [aria-hidden="true"] {
        //         display: none;
        //     }
        // }
    }
    // @media (max-width: 35em) { // Video https://youtu.be/HbBMp6yUXO0?t=1237
    //     header.primary-header>nav {
    //         .primary-navigation {
    //             position: fixed;
    //             inset: 0 0 0 30%;
    //             min-height: 100vh;
    //             min-height: 100dvh;

    //             flex-direction: column;
    //             padding: min(30vh, 10rem) 2em;

    //             background: hsla(0, 0%, 100%, 0.2);
    //             backdrop-filter: blur(.75rem);
    //         }
    //     }
    // }

    nav h2 {
        margin: 0;
        color: $text-color-primary;
        font-family: 'Open Sans', sans-serif;
        font-size: 40px;
        font-weight: 500;
        text-shadow: none;
    }
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-shadow: none;
    }
    nav ul li {
        margin-right: 10px;
    }
    nav ul li a {
        color: $text-color-primary;
        text-decoration: none;
    }
    .login-section a {
        color: $text-color-primary;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 26px;
        font-weight: 500;
        text-shadow: none;
    }
    // ------------------------------------------------------------------------------------------------
    p, input, select, textarea, button {
        font-family: 'Open Sans', sans-serif;
        letter-spacing: -0.2px;
        font-size: 16px;
    }
    form.login-signup {
        padding: 16px;
        width: 320px;
        margin: 4em auto;
    }
    .segment {
        margin-bottom: 2em;
    }
    button, input {
        border: 0;
        outline: 0;
        font-size: 16px;
        border-radius: 320px;
        padding: 16px;
        background-color: $button-background-color-primary;
        text-shadow: 1px 1px 1px $text-shadow;
    }
    input {
        box-shadow: inset 2px 2px 5px $shadow-dark, inset -5px -5px 10px $shadow-light;
        transition: all 0.2s ease-in-out;
        appearance: none;
        -webkit-appearance: none;
        color: $text-color-primary;
    }
    input:focus {
        box-shadow: inset 1px 1px 2px $shadow-dark, inset -1px -1px 2px $shadow-light;
    }
    button {
        color: $text-color-primary;
        font-weight: bold;
        font-weight: 600;
        box-shadow: -5px -5px 20px $shadow-light, 5px 5px 20px $shadow-dark;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
    Button:hover {
        box-shadow: -2px -2px 5px $shadow-light, 2px 2px 5px $shadow-dark;
    }
    button:active {
        box-shadow: inset 1px 1px 2px $shadow-dark, inset -1px -1px 2px $shadow-light;
    }
    button .icon {
        margin-right: 8px;
    }
    button.red {
        margin-top: 1em;
        color: $button-red;
    }
    #dark-mode-toggle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    div.theme {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
}

// Adaptive grid with a max column count
@media (min-width: 100rem) {
    .grid-container {
        display: grid;
        grid-auto-flow: column;
    }
    @for $i from 1 through $homeMaxColumnCount {
        .grid-item:nth-child(#{$homeMaxColumnCount}n + #{$i}) {
            grid-column: #{$i};
        }
    }
}
// @media (max-width: 100rem) and (min-width: 82.813rem) {
@media (max-width: 100rem) {
    .grid-container {
        display: grid;
        grid-auto-flow: column;
    }
    @for $i from 1 through 3 {
        .grid-item:nth-child(3n + #{$i}) {
            grid-column: #{$i};
        }
    }
}

// Home Page
body main.home {
    display: grid;
    justify-content: center;
}
body main {
    .game-accounts {
        max-width: 120rem;
    }
    .game-accounts-head {
        display: flex;
        justify-content: center;
    }
    .valorant { margin-top: 4em; margin-bottom: 2em;
    }
    #valo {filter: invert(1);
    }
    form.account-login-data-form {
        position: relative;
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 1em;
        .account-login-data-div {
            display: grid;
            justify-content: center;
            gap: 1em;
            margin: 1rem;
            border-radius: 1em;
            padding: 5rem 3rem 6.5rem 3rem;
            box-shadow: -5px -5px 20px $shadow-light, 5px 5px 20px $shadow-dark;
        }
        .account-login-data-div:hover {
            box-shadow: -2px -2px 5px $shadow-light, 2px 2px 5px $shadow-dark;
        }
        .account-login-data-div:focus {
            box-shadow: inset 1px 1px 2px $shadow-dark, inset -1px -1px 2px $shadow-light;
        }
        .lable-input {
            display: grid;
            gap: 1rem;
            text-align: center;
            font-weight: 600;
            letter-spacing: .5px;
        }
    }
    .account-data-input {
        position: relative;
        padding-right: 3rem;
    }
    .input-copy {
        position: absolute;
        top: 18px;
        right: 22px;
    }
    .copy-to-clipboard-helper {
        position: relative;
    }
    .button-copy {
        background: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
    .edit-button {
        position: absolute;
        top: 2em;
        right: 2em;
        background: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
    }
    .edit-button img {
        height: 1.5em;
        width: auto;
        filter: invert(1);
    }
}
